__pycache__/*
pqk/__pycache__/*
qfm/*csv
qfm/callback/*json
qfm/tkfm/*csv
qfm/fm/*csv
qfm/fm/qencoding/*temp.csv
.venv
nohup.out
*run.txt
.vscode/launch.json
/myscratch/
/.idea/
server_QK/*
notebooks/*log
logs/*out
rf_and_friends.ipynb
run_PQK_GS_lm.py
run_PQK_GS_QDATA.py
jobs/__pycache__/run_SVM_GS.cpython-312.pyc
